.search_box{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
    .search_left{
        display: flex;
        align-items: center;
        width: 350px;
    }
    h1{
        margin: 0;
        width: 150px;
    }
    >span{
        flex: 1;
        margin-left: 20px;
    }
}