.home-box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .header {
        width: 100%;
        height: 60px;
        padding-top: 5px;
    
        .search-box {
            height: 55px;
            display: flex;
            align-items: center;
            justify-content: space-around;
    
            .city {
                color: #000 !important;
                
                .arrow {
                    display: inline-block;
                    width: 0;
                    height: 0;
                    margin-left: 5px;
                    border: 3px solid #777;
                    border-left: 3px solid transparent;
                    border-right: 3px solid transparent;
                    border-bottom: 3px solid transparent;
                }
            }
    
            .search-input {
                width: 70%;
                background: #fff;
                padding: 5px;
                border-radius: 30px;
                box-shadow: 0px 0px 8px #ddd;
                border: 1px solid #eee;
                color: #000 !important;
                position: relative;
                i {
                    position: absolute;
                    color: black;
                    top: 4px;
                    left: 10px;
                }
                .my-carousel{
                    margin-left: 10px;
                }
            }
        }
    
    }
    .nav-tabs {
        flex: 1;
        overflow: hidden;
        background-color: rgb(241,241,241);
        
        .am-tabs-tab-bar-wrap{
            height: 45px;
            color: black;
            padding-bottom: 5px;
            border-bottom: 1px solid #eee;
            box-shadow: 0 1px 5px #eee;
        }
        .am-tabs-pane-wrap{
            padding-bottom: 20px;
            &::-webkit-scrollbar{
                display: none;
            }
        }
        
        .main{
            padding: 0 10px;

            .adv-header{
                display: flex;
                justify-content: space-around;

                .cards{
                    width: 20%;
                    
                    .cards-header{
                        text-align: center;
                        margin-bottom: 10px;
                        
                        i{
                            padding: 3px 5px;
                            border-radius: 10px;
                            font-size: 36px;
                        }
                    }
                }
            }
            .adv-bottom{
                margin-top: 10px;
                display: flex;
                overflow-x: auto;
                overflow-y: hidden;

                &::-webkit-scrollbar{
                    display: none;
                }

                .cards{
                    flex-shrink: 0;
                    border-radius: 5px;
                    border: 1px solid #eee;
                    text-align: left;
                    padding: 10px 20px 10px 5px;
                    margin-right: 5px;

                    h2{
                        font-size: 16px;
                        font-weight: bold;
                    }
                    span{
                        font-size: 12px;
                    }
                }
            }
            .hot-movie{
                display: flex;
                overflow-x: auto;
                overflow-y: hidden;
                margin-left: 10px;
                &::-webkit-scrollbar{
                    display: none;
                }

                .cards{
                    width: 28%;
                    flex-shrink: 0;
                    margin-right: 5px;
                    padding-bottom: 10px;
                    
                    .card-img{
                        position: relative;
                        overflow: hidden;
                        height: 70%;
                        border-radius: 5px;

                        p{
                            width: 100%;
                            padding: 5px 10px;
                            color: #fff;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            // background: -webkit-linear-gradient(top, rgba(255,255,255,0.4) 10%, rgba(255,255,255,0.2)50%, rgba(255,255,255,0) 50%);
                            background-image: linear-gradient(to bottom, rgba(150,150,150,0.1), rgba(33,33,33,.8));

                            span{
                                margin-right: 5px;
                            }
                        }
                        
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    
                    
                    .title{
                        font-weight: normal;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        margin-top: 8px;
                    }
                    .time{
                        font-weight: normal;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        margin-top: 5px;
                    }
                    button{
                        width: 50px;
                        height: 25px;
                        border: none;
                        border-radius: 12px;
                        color: #fff;
                        margin-top: 5px;
                    }
                }
            }
        }
        
    }
    
}


