@font-face {
  font-family: "iconfont"; /* Project id 2595832 */
  src: url('iconfont.woff2?t=1623031360546') format('woff2'),
       url('iconfont.woff?t=1623031360546') format('woff'),
       url('iconfont.ttf?t=1623031360546') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconset0317:before {
  content: "\e6d8";
}

.icon-user11:before {
  content: "\e667";
}

.icon-yinlemusic214:before {
  content: "\e617";
}

.icon-xianshiqianggou:before {
  content: "\e633";
}

.icon-bofang:before {
  content: "\e645";
}

.icon-guanyingqia:before {
  content: "\e642";
}

.icon-huabankaobei:before {
  content: "\e677";
}

.icon-sousuo:before {
  content: "\e640";
}

.icon-shangchuan:before {
  content: "\e851";
}

.icon-shezhi:before {
  content: "\e650";
}

.icon-risk-alarm_line:before {
  content: "\e72d";
}

.icon-icon_play:before {
  content: "\e60f";
}

.icon-lingdang:before {
  content: "\e636";
}

.icon-peitaosheshixiaotubiao_dianshi:before {
  content: "\e60b";
}

.icon-renzhengchenggong:before {
  content: "\e790";
}

.icon-wode:before {
  content: "\e6c2";
}

.icon-renzheng:before {
  content: "\e657";
}

.icon-jiedai:before {
  content: "\e610";
}

.icon-Home:before {
  content: "\e61b";
}

.icon-dianying:before {
  content: "\e658";
}

.icon-kanjia:before {
  content: "\e6c8";
}

.icon-player:before {
  content: "\eb17";
}

.icon-yinhangka:before {
  content: "\e79d";
}

.icon-shuju:before {
  content: "\e6cb";
}

